altgraph==0.17.5
iniconfig==2.3.0
packaging==26.2
pluggy==1.6.0
Pygments==2.20.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PySide6==6.11.1
PySide6_Addons==6.11.1
PySide6_Essentials==6.11.1
pytest==9.1.0
setuptools==83.0.0
shiboken6==6.11.1
watchdog==6.0.0
